<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/sub_layout}">
<head>
    <link th:href="@{/css/member/register.css}" rel="stylesheet">
    <!-- 사용자 CSS 추가 -->
    <th:block layout:fragment="css">
        <style>
            .fieldError {
                color: #bd2130;
            }
        </style>
    </th:block>

    <!-- 사용자 스크립트 추가 -->
    <th:block layout:fragment="script">

        <script th:inline="javascript">
            $(document).ready(function(){
                var errorMessage = [[${loginErrorMsg}]];
                if(errorMessage != null){
                    alert(errorMessage);
                }
            });
        </script>

    </th:block>
</head>

<div layout:fragment="sub_cont">

    <!-- 회원가입 -->
    <form role="form" method="post" action="/members/new">
        <div class="title_area">
            <div class="title_before"></div>
            <div class="title">회원정보 입력</div>
            <div class="description">
                <span>*</span> 표시는 필수 입력사항입니다.
            </div>
        </div>

        <!-- 정보입력 테이블 -->
        <table class="table_area">
            <tr>
                <th><span class="red_txt">*</span>  아이디</th>
                <td>
                    <div class="inp_txt_area">
                        <label for="inp_txt">
                            <input type="text" id="inp_txt" name="loginId" class="inp_txt" vali-text="아이디를 입력해주세요.">
                        </label>
                        <button class="check_id_btn">중복확인</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th><span class="red_txt">*</span>  비밀번호</th>
                <td>
                    <div class="inp_txt_area">
                        <label for="inp_pwd">
                            <input type="text" id="inp_pwd" name="password" class="inp_pwd" vali-text="비밀번호를 입력해주세요.">
                        </label>
                    </div>
                </td>
            </tr>
            <!-- 비밀번호 확인 -->
            <tr>
                <th><span class="red_txt">*</span>  비밀번호 확인</th>
                <td>
                    <div class="inp_txt_area">
                        <label for="inp_pwd">
                            <input type="text" id="inp_pwdCf" name="passwordConfirm" class="inp_pwdCf" vali-text="비밀번호를 한번 더 입력해주세요.">
                        </label>
                    </div>
                </td>
            </tr>
            <!-- 성명 -->
            <tr>
                <th><span class="red_txt">*</span>  성명</th>
                <td>
                    <div class="inp_txt_area">
                        <label for="inp_name">
                            <input type="text" id="inp_name" name="name" class="inp_name" vali-text="성명을 입력해주세요.">
                        </label>
                    </div>
                </td>
            </tr>
            <!-- 생년월일 -->
            <tr>
                <th><span class="red_txt">*</span> 생년월일</th>
                <td>
                    <div class="inp_txt_area">
                        <label for="inp_date">
                            <input type="date" id="inp_date" name="birthdate" class="inp_date" vali-text="생년월일을 선택해주세요.">
                        </label>
                    </div>
                </td>
            </tr>
            <!-- 성별 -->
            <tr>
                <th><span class="red_txt">*</span>  성별</th>
                <td>
                    <div class="inp_txt_area">
                        <label for="inp_gender_m">
                            <input type="radio" id="inp_gender_m" name="gender" class="inp_gender_m"
                                    value="남성"> 남성
                        </label>
                        <label for="inp_gender_w">
                            <input type="radio" id="inp_gender_w" name="gender" class="inp_gender_w"
                                   value="여성"> 여성
                        </label>
                    </div>
                </td>
            </tr>
            <!-- 휴대폰 번호 -->
            <tr>
                <th><span class="red_txt">*</span> 휴대폰 번호</th>
                <td>
                    <div class="inp_txt_area">
                        <label for="inp_num">
                            <input type="text" id="inp_num" name="mobileNumber" class="inp_num">
                        </label>
                    </div>
                </td>
            </tr>
            <!-- 주소 -->
            <tr>
                <th><span class="red_txt">*</span> 주소</th>
                <td>
                    <div class="inp_txt_area">
                        <label for="inp_addr">
                            <input type="text" id="inp_addr" name="address" class="inp_addr">
                        </label>
                    </div>
                </td>
            </tr>
            <!-- 이메일 -->
            <tr>
                <th><span class="red_txt">*</span> 이메일</th>
                <td>
                    <div class="inp_txt_area">
                        <label for="inp_addr">
                            <input type="email" id="inp_email" name="email" class="inp_email">
                        </label>
                    </div>
                </td>
            </tr>
        </table>
        <ul class="submit_ul">
            <li>
                <button type="reset" class="prev_btn">취소하기</button>
            </li>
            <li>
                <button type="submit" class="submit_btn">가입하기</button>
            </li>
        </ul>

    </form>
    <!--  -->
</div>

</html>