<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html">
     <!-- layout:decorate="~{layouts/sub_layout}"-->
<head>
    <link th:href="@{/css/course/player.css}" rel="stylesheet">
    <link th:href="@{/css/member/modal.css}" rel="stylesheet">
    <!-- 사용자 CSS 추가 -->
    <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
</head>


     <div class="player_cont">
         <div class="left_cont">
             <div class="category_area">
                 <img src="/img/mark_5251227.png" class="category_img">
                 <span class="category_title1">[[${course.categoryName}]] ></span>
                 <span class="category_title2">[[${course.subCategoryName}]]</span>
             </div>
             <div class="title_area">
                 <div class="course_title">[[${course.title}]]</div>
             </div>

             <!-- 영상플레이어 영역-->
             <div class="playerArea">
                 <video
                         id="videoPlayer"
                         class="video-js vjs-big-play-centered"
                         width="1340"
                         height="670"
                 >
                 </video>
             </div>

             <!-- 이전차시보기 / 다음차시보기  -->
             <div class="video_btn_area">
                <button class="prev_btn">이전 차시보기</button>
                <button class="next_btn">다음 차시보기</button>
             </div>
         </div>

         <div class="right_cont">
             <div class="r_depth1">
                 교육 목록 (이수율 <span id="gEduVideoProgress" class="blue">0</span> %)
             </div>
             <div class="scroll_box">
                 <div class="inner_box">
                     <ul>
                         <li th:each="courseVideo : ${courseVideo}">
                             <button class="lecture_btn"
                                     th:data-video-url="${courseVideo.videoUrl}"
                                     th:data-index="${courseVideo.courseVideoIndex}"
                                     data-duration="">
                                <div class="title">[[${courseVideo.videoTitle}]]</div>
                                 <div class="line">
                                     <span class="line2"
                                           th:id="'progress-' + ${courseVideo.courseVideoIndex}"></span>
                                 </div>
                                 <div class="data-area">
                                     <span class="percentText"
                                           th:id="'percent-' + ${courseVideo.courseVideoIndex}">
                                         0%</span>
                                     <span class="txt"
                                           th:id="'status-' + ${courseVideo.courseVideoIndex}">
                                         학습하기</span>
                                 </div>
                             </button>
                         </li>
                     </ul>
                 </div>

                 <div class="cont_btn_list_area">
                     <ul class="list">
                         <li>
                             <a  class="btn"
                                 onclick="checkCourseStatus()">시험보기</a>
                         </li>
                         <li>
                             <a href="/members/dashBoard" class="btn" >학습종료</a>
                         </li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>

     <!-- 모달 창 -->
     <div id="modal" class="modal">
         <div class="modal-content">
             <span id="closeBtn" class="close">&times;</span>

             <div class="modal-title">시험은 최대 3번 까지 응시하실 수 있으며,<br>
                 합격 점수는 <span class="blue_txt">60</span>점 입니다.
             </div>
             <div class="text">3차시험까지 불합격 시
                 <span class="red_txt">교육을 다시 이수</span>하셔야 합니다.
             </div>
             <!-- 테이블 -->
             <table class="custom-table">
                 <tbody>
                 <tr>
                     <th>시험(1차)</th>
                     <td th:text="${studentTest.firstAttemptStatus}"></td>
                 </tr>
                 <tr>
                     <th>시험(2차)</th>
                     <td th:text="${studentTest.secondAttemptStatus}"></td>
                 </tr>
                 <tr>
                     <th>시험(3차)</th>
                     <td th:text="${studentTest.thirdAttemptStatus}"></td>
                 </tr>
                 </tbody>
             </table>
             <ul class="modal_btn_list">
                 <li>
                     <a th:href="'/course/question?subCategoryId='+${course.subCategoryId}+
                  '&studentCourseId='+${student.studentCourseId}+
                  '&courseTitle='+${course.title}"
                        class="modal_play_btn">시험보기</a>
                 </li>
             </ul>
         </div>
     </div>

     <input id="studentCourseId" type="hidden" th:value="${student.studentCourseId}">
     <input id="last_watched" type="hidden" th:value="${student.last_watched}">

     <script>

         function checkCourseStatus() {

             const studentCourseId = document.getElementById('studentCourseId').value;
             const modal = document.getElementById('modal');

             fetch('/student/checkCourseStatus', {
                 method: 'POST',  // POST 요청
                 headers: {
                     'Content-Type': 'application/json',  // JSON 형식으로 데이터 전송
                 },
                 body: JSON.stringify({
                     studentCourseId: studentCourseId
                 })
             })
                 .then(response => response.text())  // 응답을 텍스트 형식으로 처리
                 .then(data => {
                     if (data === "학습완료") {
                         modal.style.display = "block";
                     } else {
                         alert("교육 100% 이수 후 시험에 응시하실 수 있습니다.")
                     }
                 })
         }

         const closeBtn = document.getElementById('closeBtn');
         // 모달 닫기
         closeBtn.onclick = function() {
             modal.style.display = "none";
         }
         // 모달 외부 클릭 시 닫기
         window.onclick = function(event) {
             if (event.target === modal) {
                 modal.style.display = "none";
             }
         }


     </script>

     <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
     <!-- 플러그인-->
     <script src="https://cdn.sc.gl/videojs-hotkeys/0.2/videojs.hotkeys.min.js"></script>
<!--     <script type="text/javascript" src="/js/plugin/videojs-playlists.js"></script>-->
     <script type="text/javascript" src="/js/your-custom-plugin.js"></script>
     <script src="/js/testModal.js"></script>






</html>