<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html">
     <!-- layout:decorate="~{layouts/sub_layout}"-->
<head>
    <link th:href="@{/css/course/player.css}" rel="stylesheet">
    <!-- 사용자 CSS 추가 -->
    <script src="https://player.vpe.naverncp.com/ncplayer.1.1.3.js?access_key=b8b0025ea6e3748b98fa479073560dc3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>



        <div class="left_cont">
           <!-- 영상플레이어 영역-->
            <div class="playerArea">
                <div class="player" id="player"></div>
            </div>
        </div>

        <div class="right_cont">

            영상목록
                <a href="/">시험보기</a> <br>
                <a href="/course/courses">목록</a>
            </div>
     <script src="/js/demo.js"></script>

</html>