<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/sub_layout}">
<head>
    <link th:href="@{/css/course/courseDtl.css}" rel="stylesheet">
    <!-- 사용자 CSS 추가 -->

<div layout:fragment="sub_cont">

    <div class="left_cont">
        <h1>강의 상세페이지</h1>

        <span> 1차 카테고리 </span>
        <span> > </span>
        <span>2차 카테고리</span>
        <p>강의 명 입니다.</p>
        <p>모집기간 : (모집중) 2024-01-01 ~ 2024-12-31</p>
        <p>교육기간 : (교육전) 2025-01-01 ~ 2024-06-30</p>

        <div class="title_area">
            <div class="title">교육소개</div>
        </div>
            <div class="edu_cont_area">
                교육소개입니다.
                교육소개입니다.
                교육소개입니다.
                교육소개입니다.
                교육소개입니다.
            </div>

        <div class="title_area">
            <div class="title">목차</div>
        </div>
            <table class="table_basics_area">
                <tr>
                    <th>No</th>
                    <th>제목</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>영상제목1</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>영상제목2</td>
                </tr>
            </table>
    </div>



        <div class="right_cont">
            <div class="inner_box">
                <div class="inner">
                    <img src="https://blog.kakaocdn.net/dn/buBbXt/btspOAijvT5/kK8QRvBlK8LyxId3G69ZA1/img.jpg">
                </div>

                <p>강의 명 입니다.</p>
                <p>수료 기준</p>
                <p>강의 100% 이수 및 시험 합격시 수료</p>
                <a href="/course/video" target="blank">수강 신청하기</a> <br>
                <a href="/course/courses">목록</a>
            </div>


        </div>

    
</div>

</html>