<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/sub_layout}">
<head>
    <link th:href="@{/css/course/courseDtl.css}" rel="stylesheet">
    <!-- 사용자 CSS 추가 -->

<div layout:fragment="sub_cont">

    <div class="left_cont">
        <div class="category_area">
            <img src="/img/mark_5251227.png" class="category_img">
            <span class="category_title1" th:text="${course.categoryName}">1차 카테고리</span>
            <span class="category_title2"> > </span>
            <span class="category_title2" th:text="${course.subCategoryName}">2차 카테고리</span>
        </div>
        <div class="top_title_area">
            <div class="course_title" th:text="${course.title}"></div>
            <div class="hashtag_box">
                <span class="hashTag">#반려동물</span>
                <span class="hashTag">#수입업자</span>
                <span class="hashTag">#의무교육</span>
            </div>
            <div class="period_box">
                <div>모집기간 : (모집중) 2024-01-01 ~ 2024-12-31</div>
                <div>교육기간 : (교육전) 2025-01-01 ~ 2024-06-30</div>
            </div>
        </div>


        <ul class="list">
            <li><a href="#education" class="list_index">
                <span class="list_index_title" >
                       교육 소개
                </span>
             </a></li>
            <li><a href="#table-of-contents" class="list_index">
                <span class="list_index_title">
                       목차
                </span>
            </a></li>
            <li><a href="#completion-criteria" class="list_index">
                <span class="list_index_title">
                       수료 기준
                </span>
            </a></li>
        </ul>

        <div class="title_area">
            <div class="title_before"></div>
            <div class="title" id="education">교육소개</div>
        </div>
            <div class="edu_cont_area" th:text="${course.description}"></div>

        <div class="title_area">
            <div class="title_before"></div>
            <div class="title" id="table-of-contents">목차</div>
        </div>
        <div class="edu_cont_area">
            <table class="table_basics_area">
                <tr>
                    <th>No</th>
                    <th>제목</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>영상제목1</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>영상제목2</td>
                </tr>
            </table>
        </div>


        <div class="title_area">
            <div class="title_before"></div>
            <div class="title" id="completion-criteria">수료기준</div>
        </div>
        <div class="edu_cont_area" th:text="${course.completionCriteria}">
        </div>
    </div>



        <div class="right_cont">
            <div class="inner_box_container">
                <div class="inner_box">
                    <div class="inner">
                        <img th:src="${course.imgUrl}">
                    </div>

                    <div class="m_cont">
                        <div class="m_cont_title" th:text="${course.title}"></div>
                        <div class="m_cont_tit">
                            <img src="/img/check_15790612.png" class="check_img">수료기준</div>

                        <div class="m_cont_txt" th:text="${course.completionCriteria}">
                            강의 100% 이수 및 시험 합격시 수료<br>
                        </div>

                        <div class="m_cont_tit">
                            <img src="/img/check_15790612.png" class="check_img">난이도</div>

                        <div class="m_cont_txt">
                           중급
                        </div>
                    </div>


                </div>

                <div class="cont_btn_list_area">
                    <ul class="bottom_list">
                        <li>
                            <!--th:href="'/course/video/' + ${course.courseId}"-->
                            <a class="btn"
                               onclick="application()">
                                <span class="first_btn">수강신청</span>
                                <input type="hidden" id="courseId" th:value="${course.courseId}">
                            </a>
                        </li>
                        <li>
                            <a href="/course/courses" class="btn" >
                                <span class="second_btn">목록</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    <script>
        // 로그인 여부에 따른 신청처리로직
        function application(){

            const courseId = document.querySelector('#courseId').value;

                fetch('/loginCheck', {
                    method: 'GET',  // GET 요청
                    headers: {
                        'Content-Type': 'text/plain',  // 텍스트 응답을 받을 것임
                    }
                })
                    .then(response => response.text())  // 응답을 텍스트 형식으로 처리
                    .then(data => {
                        // 응답에 따른 처리 (예: 로그인 상태에 따라 UI 변경)
                        if (data === "로그인 상태입니다.") {
                            // 로그인 상태일 경우, POST 요청 보내기
                            fetch('/courseApplication', {
                                method: 'POST',  // POST 요청
                                headers: {
                                    'Content-Type': 'application/json',  // JSON 형식으로 데이터 전송
                                },
                                body: JSON.stringify({
                                    courseId: courseId
                                })
                            })
                        } else {
                            console.log("로그인되지 않았습니다.");
                            alert("로그인 후 이용 가능한 서비스입니다.")
                        }
                    })
                    .catch(error => {
                        console.error("AJAX 오류:", error);
                        // 요청 실패시 처리
                    });
        }
    </script>

</div>


</html>