<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/sub_layout}">
<head>
    <link th:href="@{/css/course/courseList.css}" rel="stylesheet">
    <!-- 사용자 CSS 추가 -->

<div layout:fragment="sub_cont">

    <div class="search_box">
        <div class="search_title">교육 카테고리</div>
        <select>
            <option>-</option>
            <option>1차카테고리명</option>
            <option>1차카테고리명</option>
        </select>
        <select>
            <option>-</option>
            <option>2차카테고리명</option>
            <option>2차카테고리명</option>
        </select>
        <div class="search_title">강의 명</div>
        <input type="text" class="scrh_inp" placeholder="검색어를 입력해주세요." title="검색어를 입력해주세요." id="searchKeyword" name="searchKeyword" value="">
        <button type="button" class="search_btn"><span class="text">검색</span></button>
    </div>
    
   <ul class="course_list_ul">
       <li class="course_list_li">
           <a href="/course/courseDtl">
               <img class="thum" src="https://blog.kakaocdn.net/dn/buBbXt/btspOAijvT5/kK8QRvBlK8LyxId3G69ZA1/img.jpg">
           </a><br>
           <span> 1차 카테고리 </span>
           <span> > </span>
           <span>2차 카테고리</span>
           <a href="/"><p>강의 명 입니다.</p></a>
       </li>
       <li class="course_list_li">
           <a href="/course/courseDtl">
               <img class="thum" src="https://blog.kakaocdn.net/dn/buBbXt/btspOAijvT5/kK8QRvBlK8LyxId3G69ZA1/img.jpg">
           </a><br>
           <span> 1차 카테고리 </span>
           <span> > </span>
           <span>2차 카테고리</span>
           <a href="/"><p>강의 명 입니다.</p></a>
       </li>
       <li class="course_list_li">
           <a href="/course/courseDtl">
               <img class="thum" src="https://blog.kakaocdn.net/dn/buBbXt/btspOAijvT5/kK8QRvBlK8LyxId3G69ZA1/img.jpg">
           </a><br>
           <span> 1차 카테고리 </span>
           <span> > </span>
           <span>2차 카테고리</span>
           <a href="/"><p>강의 명 입니다.</p></a>
       </li>
       <li class="course_list_li">
           <a href="/course/courseDtl">
               <img class="thum" src="https://blog.kakaocdn.net/dn/buBbXt/btspOAijvT5/kK8QRvBlK8LyxId3G69ZA1/img.jpg">
           </a><br>
           <span> 1차 카테고리 </span>
           <span> > </span>
           <span>2차 카테고리</span>
           <a href="/"><p>강의 명 입니다.</p></a>
       </li>
       <li class="course_list_li">
           <a href="/course/courseDtl">
               <img class="thum" src="https://blog.kakaocdn.net/dn/buBbXt/btspOAijvT5/kK8QRvBlK8LyxId3G69ZA1/img.jpg">
           </a><br>
           <span> 1차 카테고리 </span>
           <span> > </span>
           <span>2차 카테고리</span>
           <a href="/"><p>강의 명 입니다.</p></a>
       </li>
       <li class="course_list_li">
           <a href="/course/courseDtl">
               <img class="thum" src="https://blog.kakaocdn.net/dn/buBbXt/btspOAijvT5/kK8QRvBlK8LyxId3G69ZA1/img.jpg">
           </a><br>
           <span> 1차 카테고리 </span>
           <span> > </span>
           <span>2차 카테고리</span>
           <a href="/"><p>강의 명 입니다.</p></a>
       </li>
       <li class="course_list_li">
           <a href="/course/courseDtl">
               <img class="thum" src="https://blog.kakaocdn.net/dn/buBbXt/btspOAijvT5/kK8QRvBlK8LyxId3G69ZA1/img.jpg">
           </a><br>
           <span> 1차 카테고리 </span>
           <span> > </span>
           <span>2차 카테고리</span>
           <a href="/"><p>강의 명 입니다.</p></a>
       </li>
       <li class="course_list_li">
           <a href="/course/courseDtl">
               <img class="thum" src="https://blog.kakaocdn.net/dn/buBbXt/btspOAijvT5/kK8QRvBlK8LyxId3G69ZA1/img.jpg">
           </a><br>
           <span> 1차 카테고리 </span>
           <span> > </span>
           <span>2차 카테고리</span>
           <a href="/"><p>강의 명 입니다.</p></a>
       </li>
   </ul>
    <br>
    <a href="/">1페이지</a>
    <a href="/">2페이지</a>


    
</div>

</html>