<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/sub_layout_question}">
<head>
    <link th:href="@{/css/member/question.css}" rel="stylesheet">
    <title>시험보기</title>
</head>

<div layout:fragment="sub_cont">

    <form action="/question/grading" method="post">
        <ul><!-- 한 문제 -->
            <li th:each="question, iterStat : ${questions}">
                <div class="question_area" th:text="${question.questionTitle}"></div>
                <ul>
                    <li>
                        <label th:for="'question_' + ${iterStat.index} + '_option1'">
                            <input
                                    type="radio"
                                    th:name="${question.questionId}"
                                    th:id="'question_' + ${iterStat.index} + '_option1'"
                                    value="1">
                            [[${question.option1}]]
                        </label>

                        <label th:for="'question_' + ${iterStat.index} + '_option2'">
                            <input
                                    type="radio"
                                    th:name="${question.questionId}"
                                    th:id="'question_' + ${iterStat.index} + '_option2'"
                                    value="2">
                            [[${question.option2}]]
                        </label>

                        <label th:for="'question_' + ${iterStat.index} + '_option3'">
                            <input
                                    type="radio"
                                    th:name="${question.questionId}"
                                    th:id="'question_' + ${iterStat.index} + '_option3'"
                                    value="3">
                            [[${question.option3}]]
                        </label>

                        <label th:for="'question_' + ${iterStat.index} + '_option4'">
                            <input
                                    type="radio"
                                    th:name="${question.questionId}"
                                    th:id="'question_' + ${iterStat.index} + '_option4'"
                                    value="4">
                            [[${question.option4}]]
                        </label>
                    </li>
                </ul>
            </li>
        </ul>
        <button>나가기</button>
        <button type="submit">제출하기</button>
    </form>


</div>

</html>