@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: 'Noto Sans KR', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.search_box {
    margin: 0 auto;
    width: 1372px;
    height: 100px;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px 60px;
    margin-bottom: 30px;
}

.search_title {
    display: inline;
}

.scrh_inp {
    width: 700px;
}

.search_btn {
    width: 100px;
    background: #54575E;
}

.course_list_ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
}
.course_list_li {
    display: inline-block;
}

.thum {
    width: 320px;
}

img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

