@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: 'Noto Sans KR', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none; /* hover 시에도 밑줄 없애기 */
}

.search_box {
    margin: 0 auto;
    width: 1400px;
    height: 100px;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px 60px;
    margin-bottom: 40px;
}

.search_title {
    display: inline;
}

.scrh_inp {
    width: 700px;
}

.search_btn {
    width: 100px;
}

.course_list_ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.course_list_li {
    display: inline-block;
    width: 228px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.image_container {
    position: relative;
    width: 100%;
}
.image_container img {
    width: 100%;
    border-radius: 10px;
}

.status {
    position: absolute;
    top: 10px; /* 이미지 위에서 10px 떨어진 위치 */
    left: 10px; /* 이미지 오른쪽 모서리에서 10px 떨어진 위치 */
    background-color: rgba(255, 0, 0, 0.7); /* 반투명한 빨간색 배경 */
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

.thum {
    width: 320px;
}

img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.category_area {
    margin-bottom: 10px;
}

.category_title1 {
    color: #828282;
}
.category_title2 {
    color: #1f8ce9;
}

.title {
    font-weight: 500;
    font-size: 1rem;
    line-height: 25px;
    color: #212529;
}

