<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/sub_layout_main}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Swiper css -->
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <link rel="stylesheet" th:href="@{/css/main/slide.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>

<div layout:fragment="sub_cont">

    <section class="first_section">
        <div class="slide_container">
            <!-- 메인비주얼 슬라이드 영역 -->
            <div class="swiper mySwiper" id="slide_1">
                <div class="swiper-wrapper">
                    <!-- 슬라이드 시작 -->
                    <div class="swiper-slide">
                        <a><img src="/img/banner2.png"></a>
                    </div>
                    <div class="swiper-slide"></div>
                    <div class="swiper-slide"></div>
                    <div class="swiper-slide"></div>
                    <!-- 슬라이드 종료 -->
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="login_container">
            <div class="title">로그인</div>
            <div class="input_area">
                <form>
                    <div class="input_box">
                        <input type="text" name="loginId"
                            placeholder="&nbsp;&nbsp;&nbsp;아이디를 입력하세요.">
                        <input type="password" name="password"
                            placeholder="&nbsp;&nbsp;&nbsp;비밀번호를 입력하세요.">
                    </div>
                    <button class="btn btn-primary"
                            style="background: #000000; border: none">로그인</button>
                    <a class="kakao_login"
                            href="https://kauth.kakao.com/oauth/authorize?client_id=70c4d976b0b45b6e04372cf2a3ebf3aa&redirect_uri=http://localhost:8080/kakao-login&response_type=code">
                      <img src="/img/kakao_login_medium_wide.png">
                    </a>
                </form>

            </div>
        </div>
    </section>

    <!-- Swiper JS (dom로딩후 실행하기 위해 바디하단작성)-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script src="/js/swiper.js"></script>
</div>

</html>